body{
  background: url(night.gif) fixed center;
  background-size: cover;
}
a:hover{
  color: #79E9FF;
}
.title{
  color: white;
  font-family: monospace;
  position: absolute;
  top: 6%;
  left: 6%;
}
.copyright{
  position: absolute;
  top: 145%;
  left: 37%;
  color: white;
  font-family: monospace;
  font-weight: bold;
}
.menu{
  position: absolute;
  top: 135%;
  left: 25%;
  width: 50%;
  color: white;
}
.bottom{
  position: absolute;
  top: 150%;
  left: 37%;
  width: 25%;
  color: white;
}
.top{
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  color: white;
}
.home{
  position: absolute;
  top:140%;
  left:25%;
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-weight: bold;
}
.stories{
  position: absolute;
  top:140%;
  left:40%;
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-weight: bold;
}
.random{
  position: absolute;
  top:140%;
  left:55%;
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-weight: bold;
}
.submit{
  position: absolute;
  top:140%;
  left:72%;
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-weight: bold;
}
.story{
  position: absolute;
  left: 18.7%;
  top: 20%;
  border: 3px solid;
  box-sizing: border-box;
  width:700px;
  height:700px;
  overflow: scroll;
  padding: 50px;
  margin: 100px;
  background: url(storybackground.png) no-repeat;
  color: white;
  overflow: scroll;
  font-family: monospace;
  font-weight: bold;
  font-size: 200%;
}
